 @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:wght@400..900&display=swap');

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
 }

 body {
  background-image: url('img.jpg'); /* Remplacez par votre image */
  background-size: cover;
}

.form-container {
  width: 600px;
  margin: 40px auto;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 30px;
  color: #000;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  padding: 30px;
  color: #000;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.row {
  display: flex;
  gap: 15px;
}

.row > div {
  flex: 1;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #1a237e;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: transparent;
}
  